body {
    margin: 0;
    padding: 0;
    background-color: #EBE3E9;
}

/*
==========================
HOME PAGE
==========================
*/

.background {
    background-image: url(../images/header.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    height: 100vh;
    width: auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.home-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 3em; 
    padding-top: 5em
}
.intro {
    font-family: Open Sans;
    text-align: center;
    color: #2E1B51;
    max-width: 700px;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
}
.intro h2 {
    font-family: Sofia;
    font-size: 45px
}

.emerald:hover {
   animation: pop .3s infinite alternate;
   }


.kunzite:hover {
    animation: pop .3s infinite alternate;
}


.topaz:hover {
   animation: pop .3s infinite alternate; 
}

.pink-tourmaline:hover {
   animation: pop .3s infinite alternate; 
}

.sapphire:hover {
   animation: pop .3s infinite alternate; 
}

/*
==========================
ELEMENTS PAGE
==========================
*/

.element-container {
    position: relative;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.gem-image{
    position: absolute;
    left: 150px
}
.gem {
    max-width: 600px;
    position: absolute;
    right: 200px;
    font-size: 24px;
    font-family: Open Sans;
    color:#6B2D5C;
    
}

h1{
    text-align: center;
    font-family: Sofia;
    font-size: 150px;
    color: #6B2D5C;
     text-shadow: 2px 2px 0 #9E618F;
    margin-top: 0;
    margin-bottom: 40px;
   
}

.button {
    position: absolute;
    top: 50px;
    left: 50px;
    text-decoration: none;
    z-index: 2;
    color: #9E618F;
    font-family: Open Sans;
    font-weight: 500;
    border-color: aliceblue
}
.button:hover {
    color: #9D99F2;
}

/*
==========================
KEYFRAME
==========================
*/

@keyframes wiggle {
    from {
          transform: rotate(0deg);
    }
    to {
         transform: rotate(7deg);
    }
}

@keyframes pop {
    from {
          transform: scale(1.05);
    }
    to {
         transform: scale(1.05);
    }
}

